@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      /* Default background color of <body />...etc */
      --background: 0 0% 100%;
      --foreground: 0 0% 27%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      /* Portfolio Cover Page */
      --portfolio-card-bg: 0 0% 27%;
      --portfolio-card-primary: 0 0% 100%;
      --portfolio-card-secondary: 0 0% 73%;
      
      /* Background color for popovers such as <DropdownMenu />, <HoverCard />, <Popover /> */
      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 0 0% 15%; /* Button bg */
      --primary-foreground: 0 0 93%; /* Button text */

      /* Secondary colors for <Button /> */
      --secondary: 0 0% 53%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      /* Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc */
      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%; /* Border color for inputs such as <Input />, <Select />, <Textarea /> */
      --ring: 222.2 84% 4.9%;
      --radius: 0.5rem;

      --chart-1: 12 76% 61%;
      --chart-2: 173 58% 39%;
      --chart-3: 197 37% 24%;
      --chart-4: 43 74% 66%;
      --chart-5: 27 87% 67%;
    }

    .dark {
     /* Default background color of <body />...etc */
     --background: 0 0% 11%;
     --foreground: 0 0% 93%;

     --card: 0 0% 100%;
     --card-foreground: 222.2 84% 4.9%;

     /* Portfolio Cover Page */
     --portfolio-card-bg: 0 0% 100%;
     --portfolio-card-primary: 0 0% 27%;
     --portfolio-card-secondary: 0 0% 53%;
     
     /* Background color for popovers such as <DropdownMenu />, <HoverCard />, <Popover /> */
     --popover: 0 0% 100%;
     --popover-foreground: 222.2 84% 4.9%;

     --primary: 0 0% 100%; /* Button bg */
     --primary-foreground: 0 0 11%; /* Button text */

     /* Secondary colors for <Button /> */
     --secondary: 0 0% 73%;
     --secondary-foreground: 222.2 47.4% 11.2%;

     /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
     --muted: 210 40% 96.1%;
     --muted-foreground: 215.4 16.3% 46.9%;

     /* Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc */
     --accent: 210 40% 96.1%;
     --accent-foreground: 222.2 47.4% 11.2%;

     --destructive: 0 84.2% 60.2%;
     --destructive-foreground: 210 40% 98%;

     --border: 214.3 31.8% 91.4%;
     --input: 214.3 31.8% 91.4%; /* Border color for inputs such as <Input />, <Select />, <Textarea /> */
     --ring: 222.2 84% 4.9%;
     --radius: 0.5rem;

     --chart-1: 12 76% 61%;
     --chart-2: 173 58% 39%;
     --chart-3: 197 37% 24%;
     --chart-4: 43 74% 66%;
     --chart-5: 27 87% 67%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
    .backface-hidden {
      backface-visibility: hidden;
    }
    
    .rotate-y-180 {
      transform: rotateY(180deg);
    }
    
    .transition-transform {
      transition: transform 0.6s;
    }
  }